<!-- <div class="popup">
   <div class="popup__body">
      <div class="popup__wrap">
         <div class="popup__content withdrawal-small">
            <h3 class="popup-title">Confirm Withdrawal</h3>
            <p class="popup-text">
               You plan to withdraw <span> 100$ </span>from your deposit, taking into account the commission of 30% you will receive
               <span> 70$ </span>
            </p>
            <div class="popup-buttons">
               <button type="button" class="popup-buttons__accept">Confim</button>
               <button type="button" class="popup-buttons__cancel">Cancel</button>
            </div>
         </div>
         <button type="button" class="popup__close-btn _icon-close"></button>
      </div>
   </div>
</div> -->

<div class="popup">
   <div class="popup__body">
      <div class="popup__wrap">
         <div class="popup__content information-popup">
            <h3 class="popup-title">Information</h3>
            <p class="popup-text">
               You plan to withdraw <span> 100$ </span>from your deposit, taking into account the commission of 30% you will receive
               <span> 70$ </span>
            </p>
            <span class="information-popup__percent">1.27%</span>
            <div class="popup-buttons">
               <button type="button" class="popup-buttons__accept">Save</button>
            </div>
         </div>
         <button type="button" class="popup__close-btn _icon-close"></button>
      </div>
   </div>
</div>
