<section class="cabinet__section calc">
   <div class="calc__container">
      <form class="calc__content">
         <div class="calc__step">
            <h3 class="calc__step-title"><span>Step</span><span>1</span></h3>
            <div class="calc__step-content first-step">
               <label class="first-step__item">
                  <input class="first-step__input" type="radio" name="cabinet-calc" />
                  <span class="first-step__style"></span>
                  <span class="first-step__range">
                     <i class="_icon-busd"></i>
                     <span>0.01- 2 BUSD</span>
                  </span>
                  <span class="first-step__percent">1% daily</span>
                  <img class="first-step__decor-bottom" src="@img/cabinet/steps-decor.png" alt="decor" />
                  <img class="first-step__decor-top" src="@img/cabinet/steps-decor-circle.png" alt="decor" />
                  <img class="first-step__decor-mobile" src="@img/cabinet/steps-decor-mob.png" alt="decor" />
                  <span class="first-step__shadow"></span>
               </label>
               <label class="first-step__item">
                  <input checked class="first-step__input" type="radio" name="cabinet-calc" />
                  <span class="first-step__style"></span>
                  <span class="first-step__range">
                     <i class="_icon-busd"></i>
                     <span>0.01- 5 BUSD</span>
                  </span>
                  <span class="first-step__percent">1.2% daily</span>
                  <img class="first-step__decor-bottom" src="@img/cabinet/steps-decor.png" alt="decor" />
                  <img class="first-step__decor-top" src="@img/cabinet/steps-decor-circle.png" alt="decor" />
                  <img class="first-step__decor-mobile" src="@img/cabinet/steps-decor-mob.png" alt="decor" />
                  <span class="first-step__shadow"></span>
               </label>
               <label class="first-step__item">
                  <input class="first-step__input" type="radio" name="cabinet-calc" />
                  <span class="first-step__style"></span>
                  <span class="first-step__range">
                     <i class="_icon-busd"></i>
                     <span>0.01- 15 BUSD</span>
                  </span>
                  <span class="first-step__percent">1.5% daily</span>
                  <img class="first-step__decor-bottom" src="@img/cabinet/steps-decor.png" alt="decor" />
                  <img class="first-step__decor-top" src="@img/cabinet/steps-decor-circle.png" alt="decor" />
                  <img class="first-step__decor-mobile" src="@img/cabinet/steps-decor-mob.png" alt="decor" />
                  <span class="first-step__shadow"></span>
               </label>
               <label class="first-step__item">
                  <input class="first-step__input" type="radio" name="cabinet-calc" />
                  <span class="first-step__style"></span>
                  <span class="first-step__range">
                     <i class="_icon-busd"></i>
                     <span>0.01-40 BUSD</span>
                  </span>
                  <span class="first-step__percent">1.7% daily</span>
                  <img class="first-step__decor-bottom" src="@img/cabinet/steps-decor.png" alt="decor" />
                  <img class="first-step__decor-top" src="@img/cabinet/steps-decor-circle.png" alt="decor" />
                  <img class="first-step__decor-mobile" src="@img/cabinet/steps-decor-mob.png" alt="decor" />
                  <span class="first-step__shadow"></span>
               </label>
            </div>
         </div>
         <div class="calc__step">
            <h3 class="calc__step-title"><span>Step</span><span>2</span></h3>
            <div class="calc__step-content second-step">
               <span class="second-step__value">1.27%</span>
               <div class="second-step__compaunding compaunding">
                  <h3 class="compaunding__title">Сompaunding</h3>
                  <div class="compaunding__content">
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="0%"
                           data-comp-id="1"
                           data-comp-val="1.11%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">0%</span>
                     </label>
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="10%"
                           data-comp-id="2"
                           data-comp-val="2.22%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">10%</span>
                     </label>
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="20%"
                           data-comp-id="3"
                           data-comp-val="3.33%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">20%</span>
                     </label>
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="30%"
                           data-comp-id="4"
                           data-comp-val="4.44%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">30%</span>
                     </label>
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="40%"
                           data-comp-id="5"
                           data-comp-val="5.55%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">40%</span>
                     </label>
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="50%"
                           data-comp-id="6"
                           data-comp-val="6.66%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">50%</span>
                     </label>
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="60%"
                           data-comp-id="7"
                           data-comp-val="7.77%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">60%</span>
                     </label>
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="70%"
                           data-comp-id="8"
                           data-comp-val="8.88%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">70%</span>
                     </label>
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="80%"
                           data-comp-id="9"
                           data-comp-val="9.99%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">80%</span>
                     </label>
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="90%"
                           data-comp-id="10"
                           data-comp-val="10.10%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">90%</span>
                     </label>
                     <label class="compaunding__item compaunding-item">
                        <input
                           class="compaunding-item__input"
                           type="checkbox"
                           name="Сompaunding"
                           value="100%"
                           data-comp-id="11"
                           data-comp-val="11.111%"
                        />
                        <span class="compaunding-item__circle"></span>
                        <span class="compaunding-item__line"></span>
                        <span class="compaunding-item__percent">100%</span>
                     </label>
                  </div>
               </div>
               <span class="second-step__mobile-percent">10%</span>
            </div>
         </div>
         <div class="calc__step">
            <h3 class="calc__step-title"><span>Step</span><span>3</span></h3>
            <div class="calc__step-content third-step">
               <div class="third-step__input-block">
                  <input class="third-step__input" type="number" value="200" />
                  <i class="_icon-busd"></i>
               </div>
               <button type="button" class="third-step__btn"><span>Сreate a deposit</span></button>
            </div>
         </div>
      </form>
   </div>
</section>
