<section class="cabinet__calc calc">
   <div class="calc__container">
      <form class="calc__content">
         <div class="calc__step">
            <h3 class="calc__step-title"><span>Step</span><span>1</span></h3>
            <div class="calc__step-content first-step">
               <label class="first-step__item">
                  <input class="first-step__input" type="radio" name="NAME" />
                  <span class="first-step__style"></span>
                  <span class="first-step__range">
                     <i class="_icon-busd"></i>
                     <span>0.01- 2 BUSD</span>
                  </span>
                  <span class="first-step__percent">1% daily</span>
                  <img class="first-step__decor-bottom" src="@img/cabinet/steps-decor.png" alt="decor" />
                  <img class="first-step__decor-top" src="@img/cabinet/steps-decor-circle.png" alt="decor" />
                  <img class="first-step__decor-mobile" src="@img/cabinet/steps-decor-mob.png" alt="decor" />
                  <span class="first-step__shadow"></span>
               </label>
               <label class="first-step__item">
                  <input class="first-step__input" type="radio" name="NAME" />
                  <span class="first-step__style"></span>
                  <span class="first-step__range">
                     <i class="_icon-busd"></i>
                     <span>0.01- 5 BUSD</span>
                  </span>
                  <span class="first-step__percent">1.2% daily</span>
                  <img class="first-step__decor-bottom" src="@img/cabinet/steps-decor.png" alt="decor" />
                  <img class="first-step__decor-top" src="@img/cabinet/steps-decor-circle.png" alt="decor" />
                  <img class="first-step__decor-mobile" src="@img/cabinet/steps-decor-mob.png" alt="decor" />
                  <span class="first-step__shadow"></span>
               </label>
               <label class="first-step__item">
                  <input class="first-step__input" type="radio" name="NAME" />
                  <span class="first-step__style"></span>
                  <span class="first-step__range">
                     <i class="_icon-busd"></i>
                     <span>0.01- 15 BUSD</span>
                  </span>
                  <span class="first-step__percent">1.5% daily</span>
                  <img class="first-step__decor-bottom" src="@img/cabinet/steps-decor.png" alt="decor" />
                  <img class="first-step__decor-top" src="@img/cabinet/steps-decor-circle.png" alt="decor" />
                  <img class="first-step__decor-mobile" src="@img/cabinet/steps-decor-mob.png" alt="decor" />
                  <span class="first-step__shadow"></span>
               </label>
               <label class="first-step__item">
                  <input class="first-step__input" type="radio" name="NAME" />
                  <span class="first-step__style"></span>
                  <span class="first-step__range">
                     <i class="_icon-busd"></i>
                     <span>0.01-40 BUSD</span>
                  </span>
                  <span class="first-step__percent">1.7% daily</span>
                  <img class="first-step__decor-bottom" src="@img/cabinet/steps-decor.png" alt="decor" />
                  <img class="first-step__decor-top" src="@img/cabinet/steps-decor-circle.png" alt="decor" />
                  <img class="first-step__decor-mobile" src="@img/cabinet/steps-decor-mob.png" alt="decor" />
                  <span class="first-step__shadow"></span>
               </label>
            </div>
         </div>
      </form>
   </div>
</section>
