.cabinet {
   height: 3500px;
   background: url('@img/cabinet/bg.jpg') 50% 0 / cover no-repeat;
   @media (max-width: 991.98px) {
   }
   &__page {
      display: none;
      &._active-body {
         display: block;
      }
   }

   &__section {
      margin-bottom: 40px;
   }
}
