// Шрифты локально
@import 'fonts/fonts';
// Иконочные ==============================================================================================================================================================================================================================================================================
@import 'fonts/icons';
// Шрифт по умолчанию==============================================================================================================================================================================================================================================================================
$fontFamily: 'SF-Pro-Display';
$fontSize: 18px;

// Цвета
$mainColor: #ffffff;
:root {
   --white: #ffffff;
   --black: #1a1a1a;
   --yellow: #f0b90b;
   --gray: #282828;
}

// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'base/null.scss';

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
   .lock & {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
   .loaded & {
   }
}

//============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   @supports (overflow: clip) {
      overflow: clip;
   }
   @media (max-width: 991.98px) {
      &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background: linear-gradient(180deg, rgba(13, 63, 63, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
         backdrop-filter: blur(0px);
         -webkit-backdrop-filter: blur(0px);
         z-index: 100;
         transition: all 0.3s ease 0s;
         opacity: 0;
         visibility: hidden;
         .menu-open & {
            visibility: visible;
            transition: all 0.3s ease 0s;
            opacity: 1;
            backdrop-filter: blur(24.5px);
            -webkit-backdrop-filter: blur(24.5px);
         }
      }
   }

   > main {
      flex: 1 1 auto;
   }
   > * {
      min-width: 0;
   }
}
//Контейнеры======================================================================================================================================================================================================================

[class*='__container'] {
   max-width: 1850px;
   margin: 0 auto;
   padding: 0px 15px;
   height: 100%;
}
//Подключение расширеший========================================================================================================================================================
@import './ui/extends.scss';
//Подключение UI
@import './ui/common.scss';

//Подключение компонентов
@import './components/cabinet-header.scss';
@import './components/cabinet-footer.scss';
@import './components/cabinet-statistics.scss';
@import './components/cabinet-calc.scss';
@import './components/cabinet-income.scss';
@import './components/cabinet-active-deposits.scss';
@import './components/cabinet-refer-bonus.scss';
@import './components/cabinet-refer-statistics.scss';
@import './components/cabinet-refer-history.scss';
@import './components/cabinet-popup.scss';
@import './components/cabinet-pagination.scss';

// Подключение страниц
@import './cabinet.scss';
